form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: .5rem;
    padding: 1rem 3rem !important;
    margin-top: 1rem;
    background-color: #f6ecff;
}

form h5 {
    color: #333;
}

.card {
    background-color: #f6ecff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}