.App {
    height: 100vh;
}

.header {
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: .5rem;
    height: 8rem;
}

.home-btn {
    position: absolute;
    left: 2rem;
}

.header h1 {
    margin: 0;
    width: 100%;
    text-align: center;
    color: #311b92;
    font-weight: lighter;
}

.main {
    height: calc(100vh - 8rem);
}